
if SHIELD_DACTYLM45_LEFT

config ZMK_KEYBOARD_NAME
    default "DactylM45"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DACTYLM45_LEFT || SHIELD_DACTYLM45_RIGHT

config ZMK_SPLIT
    default y

endif
