/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 * 
 * F5 refreshes window, F6 goes to URL, F11 full screen
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

&kscan0 {
  debounce-press-ms = <10>;
  debounce-release-ms = <10>;
};

#define DEF     0  // Line 48
#define QWE     1  // Line 70
#define RSIDE   2  // Line 92 
#define LSIDE   3  // Line 115
#define LLS     4  // Line 141
#define RMOD    5  // Line 163  access QWER, MCR, GIMP, WM here
#define FNUM    6  // Line 185  
#define MCR     7  // Line 207 
#define TW      8  // Line 229 Rome: Total war keys layer

// combos Line 223
//#define QWER    2  // Line 84

//&lt { tapping-term-ms = <85>; };
//&mt { tapping-term-ms = <85>; };

/ {
// ----------------------------------------------------------------------------------------------------------------------------------
// |   0  |   1  |   2  |   3  |   4  |                                     |   5  |   6  |   7  |   8  |   9  |
// |  10  |  11  |  12  |  13  |  14  |                                     |  15  |  16  |  17  |  18  |  19  |
// |  20  |  21  |  22  |  23  |  24  |                                     |  25  |  26  |  27  |  28  |  29  |
//        |  30  |  31  |                                                                 |  32  |  33  |                          
//                      |  34  |  35  |                                     |  36  |  37  |                                            
//                                    |  38  |  39  |         |  40  |  41  |                                                         
//                                    |  42  |  43  |         |  44  |  45  |                                         

	keymap {
		compatible = "zmk,keymap";

		colemak_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  G  |                                            |  J  |  L   |  U   |  Y  |  ;  |
// |  A  |  R  |  S  |  T  |  D  |                                            |  H  |  N   |  E   |  I  |  O  |
// |  Z  |  X  |  C  |  V  |  B  |                                            |  K  |  M   |  ,   |  .  |  /  |
//       | MUTE|A(<--) |                                                                   | HUI  | FNUM|
//                    | LSIDE | SHIFT |                                       | SPACE| RSIDE |
//                                   | CTRL | BSPC |           | RET |  CTRL  |
//                                   | F5   | F6   |           | F11 |  ESC   |
			bindings = <
	&kp Q &kp W      &kp F     &kp P      &kp G                               &kp J     &kp L    &kp U         &kp Y   &kp SEMI
	&kp A &kp R      &kp S     &kp T      &kp D                               &kp H     &kp N    &kp E         &kp I   &kp O   
	&kp Z &kp X      &kp C     &kp V      &kp B                               &kp K     &kp M    &kp COMMA     &kp DOT &kp FSLH 
        &kp C_MUTE &kp RA(LEFT)                                                                &rgb_ug RGB_HUI  &tog FNUM
                            &mo LSIDE   &kp LSHFT                    &kp SPACE &mo RSIDE  
                                      &kp LCTRL   &kp BSPC     &kp RET  &kp RCTRL 
                                      &kp F5      &kp F6       &kp F11  &kp ESC
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		qwerty_tog_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |  
// |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   | 
// |  Z  |  X  |  C   |  V   |  B   |                                          |  N   |  M    |  ,    |  .   |   /   |
//       |     |      |                                                                       |       |      |
//                    |      |      |                                          |      |       |
//                                  |     |     |               |    |         |
//                                  |     |     |               |    |         |
			bindings = <
	&kp Q &kp W   &kp E  &kp R  &kp T                                         &kp Y  &kp U  &kp I    &kp O   &kp P   
	&kp A &kp S   &kp D  &kp F  &kp G                                         &kp H  &kp J  &kp K    &kp L   &kp SEMI
	&kp Z &kp X   &kp C  &kp V  &kp B                                         &kp N  &kp M  &trans   &kp DOT &kp FSLH
	      &trans  &trans                                                                    &trans   &trans
                       &trans &trans                                        &trans &trans
                                     &trans  &trans          &trans  &trans
                                     &to DEF &trans          &trans  &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
		};

		right_mo_layer {
// C(T), C(W), CA(V) --> open browser tab, close tab, paste
// ---------------------------------------------------------------------------------------------------------------------------------
// |  1  |  2  |  3   |    4   |  5   |                                          |  6   |  7    |  8    |  9   |   0   |      
// |  '  |  ~  | ALT  |   TAB  | ESC  |                                          |  \   |  -    |  =    |  [   |   ]   |      
// | C(Z)|  `  | C(C) |   DEL  | CA(V)|                                          | C(T) | C(W)  |       |  .   |   '   |      
//       |     | HUD  |                                                                         |       |      |
//                    |  RMOD  |      |                                          |      |       |
//                                  |       |     |                  |     |     |
//                                  |  BRD  | BRI |                  |     |     |
			bindings = <
	&kp N1     &kp N2     &kp N3    &kp N4   &kp N5                                          &kp N6    &kp N7      &kp N8    &kp N9    &kp N0  
	&kp SQT    &kp TILDE  &kp RALT  &kp TAB  &kp ESC                                         &kp BSLH  &kp MINUS   &kp EQUAL &kp LBKT  &kp RBKT
	&kp LC(Z)  &kp GRAVE  &kp LC(C) &kp DEL  &kp LC(LS(V))                                   &kp LC(T) &kp LC(W)   &trans    &kp DOT   &kp SQT
	           &trans     &trans                                                                                   &rgb_ug RGB_HUD  &ext_power EP_TOG
                                  &mo RMOD  &trans                                          &trans   &trans
                                             &trans           &trans             &trans  &trans 
                                             &rgb_ug RGB_BRD  &rgb_ug RGB_BRI    &trans  &trans
			>;

			sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp PG_UP PG_DN>;
		};

		left_mo_layer {
// CS(E), CS(P), CS(A),  C(Z), C(Y)  --> xournal++ ==> Erasure, Pen, Hand, Undo, Redo
//  S(E), CS(J), CS(A), CS(D), C(Z), C(Y)) --> GIMP ==> Erasure, window, Select None, doc layer, Undo, Redo
// CA(T),  C()), CS(I) --> new console, split horizontal console, open browser dev tools
// CS(6) --> NERDTree ==> traverse windows
// ---------------------------------------------------------------------------------------------------------------------------------
// | CS(E) | CS(P) | PGDN |CS(I) |  M    |                                          | CS(6) | C(TAB)|       | C(Y) | COLON |   
// | LLS   | C(+)  |  DN  |CA(T) | CS(A) |                                          | LARROW| DOWN  |  UP   |RARROW| C())  |  
// |  C(Z) |  C(Y) | C(C) | S(E) | CS(J) |                                          |  HOME |  END  |       |      |  SQT  | 
//         |       |A(-->)|                                                                         |       |    |
//                        |      |       |                                          |  GUI  |  RMOD |
//                                       |     |       |                |      |    |
//                                       |     |       |                |      |    |
			bindings = <
	&kp LC(LS(E)) &kp LC(LS(P)) &kp PG_DN  &kp LC(LS(I)) &kp M                                       &kp LC(LS(N6)) &kp LC(TAB) &trans  &kp LC(Y)       &kp COLON      
	&mo LLS       &kp LC(PLUS)  &kp DOWN   &kp LC(LA(T)) &kp LC(LS(A))                               &kp LEFT_ARROW &kp DOWN    &kp UP  &kp RIGHT_ARROW &kp LC(RPAR)
  &kp LC(Z)     &kp LC(Y)     &kp LC(C)  &kp LS(E)     &kp LC(LS(J))                               &kp HOME       &kp END     &trans  &trans          &kp SQT       
                &trans        &kp RA(RIGHT)                                                                                   &trans  &trans
                                    &trans        &trans                                      &kp RGUI         &mo RMOD
                                                         &trans &trans       &trans   &trans 
                                                         &trans &trans       &trans   &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
		};

		lower_left_mo_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |       |       | PGUP |  U   |  H    |                                          |       |       |       |      |       |   
// |       | C(-)  |  UP  |      | CS(D) |                                          |       |       |       |      |       |  
// |       |       |      |      |       |                                          |       |       |       |      |   "   | 
//         |       |A(TAB)|                                                                         |       |    |
//                        |      |       |                                          |       |       |
//                                       |     |       |                |      |    |
//                                       |     |       |                |      |    |
			bindings = <
	&trans  &trans        &kp PG_UP  &kp U  &kp H                                &trans &trans &trans &trans &trans      
	&trans  &kp LC(MINUS) &kp UP     &trans &kp LC(LS(D))                        &trans &trans &trans &trans &trans
  &trans  &trans        &trans     &trans &trans                               &trans &trans &trans &trans &kp LS(SQT)       
          &trans        &kp LA(TAB)                                                         &trans &trans
                              &trans        &trans                                      &trans     &trans
                                                &trans &trans       &trans   &trans 
                                                &trans &trans       &trans   &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
		};

		right_mod_mo_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | QWE |       |      |      | F5   |                                          |  F6  |       |       |      |       |      
// | MCR |LS(TAB)| CTL  | TAB  | ESC  |                                          |LARROW|  DN   |  UP   |RARROW|       |       
// | TW  |       |      |      |      |                                          |  BT0 |  BT1  |  BT2  |  BT3 |   "   |      
//       |       |      |                                                                       |       |  PWR |
//                      |      |      |                                          |      |       |
//                                    |       |      |               |     |     |
//                                    |       |      |               |     | BTC |
			bindings = <
	&to QWE   &trans      &trans    &trans   &kp F5                                         &kp F6         &trans       &trans        &trans          &trans  
	&to MCR   &kp LS(TAB) &kp LCTRL &kp TAB  &kp ESC                                        &kp LEFT_ARROW &kp DOWN     &kp UP        &kp RIGHT_ARROW &trans
  &to TW    &trans      &trans    &trans   &trans                                         &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3    &kp LS(SQT)
	          &trans      &trans                                                                                        &trans    &ext_power EP_TOG
                                         &trans   &trans                                  &trans   &trans
                                           &trans           &trans             &trans  &trans 
                                           &trans           &trans             &trans  &bt BT_CLR
			>;

			sensor-bindings = <&inc_dec_kp PG_DN PG_UP &inc_dec_kp PG_UP PG_DN>;
		};

		func_num_tog_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | F1  | F2  |  F3  |  F4   |  F5  |                                          | PG_UP |   7   |   8   |  9   |   +   |
// | F6  | F7  |  F8  |  F9   |  F10 |                                          | PG_DN |   4   |   5   |  6   |   -   |
// | F11 | F12 |      |       |      |                                          |   0   |   1   |   2   |  3   |       |
//       |     |      |                                                                         | NUMLK |      |
//                    |       |      |                                          |   0   |  DOT  |
//                                   |      |      |                |      |    |
//                                   |      |      |                |      |    |
			bindings = <
	&kp F1  &kp F2  &kp F3 &kp F4 &kp F5                                     &kp PG_UP &kp KP_N7  &kp KP_N8  &kp KP_N9 &kp KP_PLUS 
	&kp F6  &kp F7  &kp F8 &kp F9 &kp F10                                    &kp PG_DN &kp KP_N4  &kp KP_N5  &kp KP_N6 &kp KP_MINUS
	&kp F11 &kp F12 &trans &trans &trans                                     &kp KP_N0 &kp KP_N1  &kp KP_N2  &kp KP_N3 &trans       
          &trans  &trans                                                                        &kp KP_NUM &trans
                         &kp PG_DN &kp PG_UP                         &kp KP_N0 &kp KP_DOT
                                       &trans  &trans      &trans   &trans
                                       &to DEF &trans      &trans   &trans
			>;

			sensor-bindings = <&inc_dec_kp DOWN UP &inc_dec_kp PG_UP PG_DN>;
		};

		minecraft_tog_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  1  |  2  |  3   |  4   |  5   |                                          |   6  |   7   |   8   |  9   |   0   |
// |SHFT |  A  |  W   |  D   |  E   |                                          |      |       |       |      |       |
// |  Q  |     |  S   |  F   |      |                                          |      |       |       |      |       |
//       |     |      |                                                                       |       |      |
//                    | CTRL | SPACE|                                          |      |       |
//                                  |SHFT|   F5  |               |       |    |
//                                  | DEF|  ESC  |               |       |    |
			bindings = <
	&kp N1    &kp N2  &kp N3 &kp N4 &kp N5                                             &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
	&kp LSHFT &kp A   &kp W  &kp D  &kp E                                              &trans &trans &trans &trans &trans
  &kp Q     &trans  &kp S  &kp F  &trans                                             &trans &trans &trans &trans &trans
	          &trans  &trans                                                                         &trans &trans
                        &kp LCTRL &kp SPACE                                         &trans &trans 
                                          &kp LCTRL  &kp F5         &trans  &trans
                                          &to DEF    &kp ESC        &trans  &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		rome_total_war_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  1  |  2  |  3   |  4   |  G   |                                          |      |       |       |      |       |
// |  P  | <-- |  UP  | -->  |  E   |                                          |      |       |       |      |       |
// |     |     | DOWN |  F   |      |                                          |      |       |       |      |       |
//       |     |      |                                                                       | GREEN |      |
//                    |  F5  | LSHFT|                                          |      |       |
//                                  |CTRL| SPACE |               |       |    |
//                                  | DEF|  ESC  |               |       |    |
			bindings = <
	&kp N1 &kp N2         &kp N3    &kp N4           &kp G                                              &trans &trans &trans                            &trans &trans
	&kp P  &kp LEFT_ARROW &kp UP    &kp RIGHT_ARROW  &kp E                                              &trans &trans &trans                            &trans &trans
  &trans &trans         &kp DOWN  &kp F            &trans                                             &trans &trans &trans                            &trans &trans
	       &trans &trans                                                                         &rgb_ug RGB_COLOR_HSB(120,100,10) &trans
                        &kp F5 &kp LSHFT                                         &trans &trans 
                                          &kp LCTRL  &kp SPACE      &trans  &trans
                                          &to DEF    &kp ESC        &trans  &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

	};

//  combos {
//    compatible = "zmk,combos";
//
//    combos_shift_sqt {
//      timeout-ms = <50>;
//      key-positions = <20 37>;
//      bindings = <&kp LS(SQT)>;
//    };
//  };
};

